@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.container{
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;    
}

header{
    margin-top: 30px;
}

.quote{
    /* margin: 0; */
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    letter-spacing: -0.070em;
    font-size: 3em;
    margin-bottom: 1.5rem;
}

.subcontainer{
    display: block;
    width: 75%;
    margin: auto;
}

.subquote
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    font-size: 5em;
    letter-spacing: -0.070em;
    text-indent: -0.03em;
}

@media screen and (min-width: 701px) and (max-width: 900px){
    .subcontainer{
        width: 90%;
    }
    .quote{
        letter-spacing: -0.090em;
        font-size: 2.40em;
        
    }

    .subquote{
        letter-spacing: -0.090em;
        font-size: 4em;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px){
    .subcontainer{
        width: 75%;
    }
    .quote{
        letter-spacing: -0.090em;
        font-size: 2.25em;
        
    }

    .subquote{
        letter-spacing: -0.090em;
        font-size: 3.25em;
    }
}

@media screen and (min-width: 50px) and (max-width: 449px){
    .subcontainer{
        width: 65%;
    }
    .quote{
        letter-spacing: -0.090em;
        font-size: 1.80em;
        padding-top: 12vh;
        margin-bottom: 0.5em;
    }

    .subquote{
        letter-spacing: -0.090em;
        font-size: 2.45em;
        padding-top: 0.5em;
    }
}


.container2
{
    display: flex;
    justify-items: center;
    align-content: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.accordion{
    background-color: rgba(248, 248, 255, 0.535);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    font-size: 3em;
    letter-spacing: -0.080em;
    text-indent: -0.03em;
}

.active, .accordion:hover {
    background-color: rgba(204, 204, 204, 0.33); 
    color: orangered;
    box-shadow: 5px 10px;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: ghostwhite;
    overflow: hidden;
  }

  .accordiontext{
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-content: center;
    justify-content: left;
  }



  @media screen and (max-width: 700px){
    .container2{
        display:block;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .accordion{
        font-size: 2.5em;
    }
    .accordiontext{
        font-size: 1.125em;
    }
  }
    @media screen and (min-width: 702px)and (max-width: 1119px){
        .accordion{
            font-size: 2.15em;
        }
        .accordiontext{
            font-size: 1.125em;
        }

}

a:hover ~ .one {
    background-color: gold;
}