body
{
    background-image: url(building3.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container{
    padding-top: 10px;
    height: 100vh;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.quote
{
    margin: 0;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.080em;
    font-size: 6.5em;
    text-indent: -0.03em;
    margin-bottom: 2rem;
    margin-top: 30px;
}

.subcontainer{
    display: block;
    width: 75%;
    margin: auto;
}

.subquote
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: -0.050em;
}

@media screen and (max-width: 500px){
    .quote{
        letter-spacing: -0.080em;
        font-size: 3.25em;
    }

    .subquote{
        font-size: 1.625em;
    }
}
