.mainbox
{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



/* .mainbox #one{
    align-items: center;
    align-content: center;
    
}

.maminbox #two{
    align-items: center;
} */

#num1, #num3{
    padding-top: 0;
    
    text-align: left;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.090em;
    font-size: 1.5em;
    text-indent: -0.03em;
    align-self: flex-start;

}


#num2, #num4{
    text-align: right;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.090em;
    font-size: 1.5em;
    text-indent: -0.03em;
    align-self: flex-end;
}

.num1{
    padding: 1%;
    text-align: left;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    letter-spacing: -0.050em;
    font-size: 1.25em;
    text-indent: -0.03em;
    justify-content: center;
    align-items: center;
}

.num2{
    padding: 1%;
    text-align: right;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    letter-spacing: -0.050em;
    font-size: 1.25em;
    text-indent: -0.03em;
    justify-content: center;
    align-items: center;
}

.maingrid,h1{
    text-decoration:underline solid black 0.15em ;
    margin-bottom: 0;
}

/* @media screen and (max-width: 700px){
    .maingrid{
        padding-top: 30%;
        display: block;
    }
    #num1, #num2, #num3, #num4{
        font-size: 1em;
    }

} */