.mainbox
{
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

div.subbox {
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;  
}

/* .mainbox #one{
    align-items: center;
    align-content: center;
    
}

.maminbox #two{
    align-items: center;
} */

#num1, #num3{
    padding-top: 0;
    text-align: left;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.090em;
    font-size: 1.5em;
    text-indent: -0.03em;
}
.mainbox #one{
    grid-column: 1/1;
    grid-row: 1/1;
}
.mainbox #two{
    grid-column: 2/2;
    grid-row: 1/1;
}
.mainbox #three{
    grid-column: 1/2;
    grid-row: 2/2;
}


#num2, #num4{
    text-align: right;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.090em;
    font-size: 1.5em;
    text-indent: -0.03em;
    align-self: flex-end;
}

.num1{
    padding: 1%;
    text-align: left;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    letter-spacing: -0.050em;
    font-size: 1.25em;
    text-indent: -0.03em;
    justify-content: center;
    align-items: center;
}

.num2{
    padding: 1%;
    text-align: right;
    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    letter-spacing: -0.050em;
    font-size: 1.25em;
    text-indent: -0.03em;
    justify-content: center;
    align-items: center;
}

.mainbox h1, .subbox h1{
    text-decoration:underline solid black 0.15em ;
    margin-bottom: 0;
}

@media screen and (max-width: 700px){
    .mainbox{
        padding-top: 30%;
        display: block !important;
    }
    #num1, #num2, #num3, #num4{
        font-size: 1em;
    }

}